In [2]:
import pandas as pd

In [158]:
def multinacional_metric(y_true, y_pred):
     return abs(sum(y_true - y_pred)) / sum(y_true)

In [155]:
df_tb_productos = pd.read_csv('tb_productos.txt', sep='\t')
df_sell_in = pd.read_csv('sell-in.txt', sep='\t')
df_predecir = pd.read_csv('productos_a_predecir.txt', sep='\t')

In [ ]:
#PRIMERA PARTE

In [156]:
df_marzo = df_sell_in[df_sell_in['periodo']==201903]

In [157]:
df_mayo = df_sell_in[df_sell_in['periodo']==201905]

In [161]:
mayo_tn = df_mayo.groupby('product_id')['tn'].sum().reset_index()

In [162]:
marzo_tn = df_marzo.groupby('product_id')['tn'].sum().reset_index()

In [163]:
mayo_tn = mayo_tn.rename(columns={'tn': 'tn_actual'})
marzo_tn = marzo_tn.rename(columns={'tn': 'tn_pred'})

In [164]:
df_pred = pd.merge(mayo_tn, marzo_tn, how="left", on=["product_id"])

In [165]:
multinacional_metric(df_pred['tn_actual'].fillna(0),df_pred['tn_pred'].fillna(0))

0.06281789350589442

In [ ]:
#USAR LOS ULTIMOS 6 MESES Y PROMEDIAR PARA ESTIMAR

In [193]:
df_seismeses = df_sell_in[(df_sell_in['periodo']>=201810) & (df_sell_in['periodo']<=201903)]
df_seismeses = df_seismeses.groupby(['periodo','product_id'])['tn'].sum().reset_index()
promedio_por_producto = df_seismeses.groupby('product_id')['tn'].mean().reset_index()
promedio_por_producto.rename(columns={'tn': 'tn_pred_seis'}, inplace=True)
df_pred_seis = pd.merge(mayo_tn, promedio_por_producto, how="left", on=["product_id"])
multinacional_metric(df_pred_seis['tn_actual'].fillna(0),df_pred_seis['tn_pred_seis'].fillna(0))

0.02615791041789335

In [ ]:
#SEGUNDA PARTE

In [ ]:
#PREDECIR FEBRERO 2020

In [174]:
df_diciembre = df_sell_in[df_sell_in['periodo']==201912]

In [176]:
df_diciembre = df_diciembre.groupby('product_id')['tn'].sum().reset_index()

In [177]:
df_dic_feb = pd.merge(df_predecir, df_diciembre, how="left", on=["product_id"])

In [178]:
df_dic_feb.to_csv('diciembre.csv',sep=',', index=False)

In [188]:
df_dic_feb

     product_id          tn
0         20001  1504.68856
1         20002  1087.30855
2         20003   892.50129
3         20004   637.90002
4         20005   593.24443
..          ...         ...
775       21263     0.01270
776       21265     0.05007
777       21266     0.05121
778       21267     0.01569
779       21276     0.00892

[780 rows x 2 columns]

In [ ]:
#PREDECIR USANDO 6 MESES

In [192]:
df_seismeses_2 = df_sell_in[(df_sell_in['periodo']>=201907) & (df_sell_in['periodo']<=201912)]
df_seismeses_2 = df_seismeses_2.groupby(['periodo','product_id'])['tn'].sum().reset_index()
seismeses_2 = df_seismeses_2.groupby('product_id')['tn'].mean().reset_index()
df_seismeses_2 = pd.merge(df_predecir, seismeses_2, how="left", on=["product_id"])
df_seismeses_2.to_csv('juniodiciembre.csv',sep=',', index=False)

In [ ]:
#1 año MEJOR QUE DIÓ

In [191]:
df_year = df_sell_in[(df_sell_in['periodo']>=201900) & (df_sell_in['periodo']<=201912)]
year_pred = df_year.groupby(['periodo','product_id'])['tn'].sum().reset_index()
year_pred = year_pred.groupby('product_id')['tn'].mean().reset_index()
year_pred = pd.merge(df_predecir, year_pred, how="left", on=["product_id"])
year_pred.to_csv('year2019.csv',sep=',', index=False)

In [190]:
#all
df_all = df_sell_in[df_sell_in['periodo']<=201912]
all_pred = df_all.groupby(['periodo','product_id'])['tn'].sum().reset_index()
all_pred = all_pred.groupby('product_id')['tn'].mean().reset_index()
all_pred = pd.merge(df_predecir, all_pred, how="left", on=["product_id"])
all_pred.to_csv('all2019.csv',sep=',', index=False)

In [ ]:
#PRUEBAS!---

In [194]:

df_febrero2019 = df_sell_in[df_sell_in['periodo']==201902] #SUPONGO QUE FEBRERO ES 2020
df_febrero2019 = df_febrero2019.groupby('product_id')['tn'].mean().reset_index()
df_febrero2019 = df_febrero2019.rename(columns={'tn': 'tn_actual'})

df_pred_2019 = pd.merge(df_febrero2019, all_pred, how="left", on=["product_id"])

multinacional_metric(df_pred_2019['tn_actual'].fillna(0),df_pred_2019['tn'].fillna(0))

125.24974374928281

In [195]:
df_2017 = df_sell_in[df_sell_in['periodo']<=201712]
df_2017 = df_2017.groupby(['periodo','product_id'])['tn'].sum().reset_index()
df_2017 = df_2017.groupby('product_id')['tn'].mean().reset_index()
df_2017 = pd.merge(df_predecir, df_2017, how="left", on=["product_id"])
df_2017 = df_2017.fillna(0)
df_2017.to_csv('all2017.csv',sep=',', index=False)

In [196]:
df_2017

     product_id           tn
0         20001  1234.417246
1         20002   765.303166
2         20003  1007.067587
3         20004   733.870823
4         20005   686.620974
..          ...          ...
775       21263     0.000000
776       21265     0.000000
777       21266     0.000000
778       21267     0.000000
779       21276     0.000000

[780 rows x 2 columns]