In [1]:
import pandas as pd

In [78]:

df_sell_in = pd.read_csv('data/sell-in.txt', sep='\t')
df_prods = pd.read_csv('data/productos_a_predecir.txt', sep='\t')

In [4]:
df_marzo = df_sell_in[df_sell_in['periodo']==201903]

In [5]:
df_mayo = df_sell_in[df_sell_in['periodo']==201905]

In [6]:
def multinacional_metric(y_true, y_pred):
     return abs(sum(y_true - y_pred)) / sum(y_true)

In [7]:
df_mayo.head(3)

,periodo,customer_id,product_id,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn
2352823,201905,10005,20524,0,1,0.01514,0.01514
2352824,201905,10118,20524,0,1,0.02271,0.02271
2352825,201905,10080,20524,0,1,0.02271,0.02271

In [8]:
df_mayo = df_mayo.drop(columns=['customer_id', 'plan_precios_cuidados','cust_request_qty',	'cust_request_tn'], inplace=False)

In [9]:
 df_marzo.drop(columns=['plan_precios_cuidados','cust_request_qty','cust_request_tn'], inplace=False)df_marzo =

In [50]:
df_mayo = df_mayo.groupby(['product_id']).mean()
df_marzo = df_marzo.groupby(['product_id']).mean()

In [51]:
df_mayo = df_mayo.rename(columns={'tn': 'tn_actual'})
df_marzo = df_marzo.rename(columns={'tn': 'tn_pred'})

In [52]:
df_pred = pd.merge(df_mayo, df_marzo, how="left", on=["product_id"])

In [53]:
multinacional_metric(df_pred['tn_actual'].fillna(0),df_pred['tn_pred'].fillna(0))

0.13065835342682558

In [83]:
df_seis_meses = df_sell_in[((df_sell_in['periodo'] == 201810) | (df_sell_in['periodo'] == 201810) | (df_sell_in['periodo'] == 201811) | (df_sell_in['periodo'] == 201812) | (df_sell_in['periodo'] == 201901)| (df_sell_in['periodo'] == 201902)| (df_sell_in['periodo'] == 201903))]
df_prom = pd.DataFrame(df_seis_meses['product_id'])
df_seis_meses = df_seis_meses.drop(columns=['plan_precios_cuidados','periodo','cust_request_qty','cust_request_tn'], inplace=False)
promedios = df_seis_meses.groupby('product_id')['tn'].mean()
df_prom['promedio'] = df_prom['product_id'].map(promedios)

         product_id  promedio
1812744       20524  0.120771
1812745       20524  0.120771
1812746       20524  0.120771